.fundo{
    background-color: rgb(36, 35, 35);
}

.semsublinhado a{
    
    text-decoration: none;
    text-align: left;
    color: hsl(0, 0%, 100%);
    padding: 18px 20px;
    font-family: Roboto;
  
  
   
}
.titulo{
    color: white;
    font: 24px Roboto ;
    margin: 10px;
    
  


}
.semsublinhado{
    background-color: rgb(35, 36, 36);
    text-decoration: none;

}
.semsublinhado a:hover{
   color: #a72121;
   background-color: rgba(252, 252, 252, 0.158);

}


.manga{
    color: white;
    font: 19px Roboto;
    background-color: #282828;
    padding: 10px;
    Margin: 0px 0px 5px;
    border-left:5px solid #a72121;
    border-radius: 10px;
}


.ulti{
    color: white;
    font: 19px Roboto;
    background-color: #282828;
    padding: 10px;
    Margin: 0px 0px 5px;
    border-left:5px solid #a72121;
    border-radius: 10px;
}


.lanca{
    color: white;
    font: 19px Roboto;
    background-color: #282828;
    padding: 10px;
    Margin: 0px 0px 5px;
    border-left:5px solid #a72121;
    border-radius: 10px;
}

.popu{
    color: white;
    font: 19px Roboto;
    background-color: #282828;
    padding: 10px;
    Margin: 0px 0px 15px;
    border-left:5px solid #a72121;
    border-radius: 10px;
    padding-right: 20px;
    width:325px;
}


.an{
    color: white;
    font: 19px Roboto;
    background-color: #282828;
    padding: 10px;
    Margin: 0px 0px 5px;
    border-left:5px solid #a72121;
    border-radius: 10px;
}

.man{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.anos{
    color: white;
}

.fundo p {
    color: white
}

.fundo img{
    border-radius: 10px;
}

.coluna{
   
    width: 200px;
   
    vertical-align: top;
    border-left: 1px solid grey;
    padding: 5px;
    max-width: 340px;
    height: 800px;
}

.coluna img{
    width:80px;
    height: 89px;
}

.coluna a {
    text-decoration: none;
    text-align: left;
    color: hsl(0, 0%, 100%);
    padding: 18px 20px;
    font-family: Roboto;
}

.nota{
    position: relative;
    top: -33px;
   
  
}

.populares{
    background-color: black;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    display: inline-block;
    width:auto;
    padding: 1px; 
    padding-left: 2px;
    padding-right: 6px;
}

.number{
   display: inline;
}


.divimagem{
    box-shadow: 0px 0px 6px 0px black;
    overflow: hidden;
    transition: border-radius 0.5s;
    max-height: 30%;
    width: max-content;
}
 img{
            max-width: 150%;
            margin: auto; 
            display: block;
            border-radius: 5px;
            transition: scale 1.0s, rotate 0.9s;
            width: 120px;
          
      }


img:hover{
            scale: 1.5;
            rotate: 4deg;
      }
.divimagem:hover{
            border-radius: 1%;

     }

 .link:hover {
    color: #a72121;
 }
 a{
    text-decoration: none;
 }

 .link{
    white-space: normal;
    max-width: 120px;
    background-color: #ffffff07;
    border-radius: 7px;
    margin:1px;
 }

 

 td{
    padding-right: 5px;
 }

 .back{
    background-color: #282828;
    margin-bottom: 15px;
    padding-right: 30px;
    border-radius: 10px;
 }
 .atual{
    max-width: 600px;
    width:240px;
    border-radius: 7px;
    margin:1px;
    white-space: normal;
 }

 .corfundo{
    background-color: #2b2a2a4b;
    width: 200px;
    max-width: 300px;
    padding: 10px;
 }

 .anos a{
    background-color:  #282828;
    width: 400px;
    max-width: 500px;
    padding: 5px 50px 30px;
    text-align: auto;
    
 }

 
 